<h1>Hello Fuckers</h1>

{% schema %}
{
"name": "Custom Section",
"settings": [
    {
        "type": "text",
        "id": "text",
        "label":"Text"
    }
],
"presets":  [{"name": "default custom section"}],
"tag": "header",
"class": "custom-section-heading"
}
{%endschema%}
